.contenedor {
  max-width: 80%;
  margin: 0 auto;
}

.btnGuardaCambios {
  float: right;
}

.card-information {
  align-content: center;
  margin-left: 33px;
  margin-top: 20px !important;
}

.icon-informacion {
  font-size: 30px;
}

.steps-pasos {
  margin-top: 30px;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}

.setps {
  display: block;
}

.table-detalleCp {
  margin-top: 40px;
}

.btnBack {
  font-size: 23px;
}

.info_icon {
  max-width: 40px;
  max-height: 40px;
}

.description-info {
  margin-left: 0px;
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 0px;
  text-align: left;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
  text-align: right;
}

.ant-upload.ant-upload-drag .ant-upload-btn {
  display: table;
  height: 201px !important;
}

button {
  border-radius: 10px !important;
  color: #000 !important;
}

button.ant-btn.disablednext {
  background-color: #a7a7a7 !important;
  border-color: #b6b6b6 !important;
}

button.ant-btn.ant-btn-primary {
  background-color: #ffcd00;
  border-color: #ffcd00;
}

.ant-page-header-content {
  padding-top: 0px !important;
}

.case-header {
  padding-top: 0px !important;
  margin-top: 0px !important;
}
