.btnGuardaCambios {
    float: right;
}

.card-information {
    align-content: center;
}

.icon-informacion{
    font-size: 30px;
}

.steps-pasos {
    margin-top: 30px;
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}

.setps {
    display: block;
}

.table-detalleCp {
    margin-top: 40px;;
}

.btnBack {
    font-size: 23px;
}